

@media screen and (max-width: 1200px) {
    .container{
        width: 100%;
        margin: auto;
    
    }
}

@media screen and (max-width: 1024px){
    .container{
        width: 100%;
        margin: auto;
        padding: 1.5%;
    }
  

    nav .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
    }
     .hero-content .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
     }

     .next-section .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
     }

    .about .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
    }

    .about-grid-item h2{
        width: 100%;
        margin-left: 10px;
        padding: 0% 2%;
    }
    .about-grid-item a .sp{
        margin-left: 30px;
        margin-top: -25px;
    }

   
   
    
    .about-grid-item img{
       margin-left: 10px;
    }
    
    

    .about-grid-item p{
        width: 80%;
        margin-right: 10px;
        padding-left: 28px;
    }


    #process .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
    }

    #exp .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
    }

    #work .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
    }

    .work--grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        margin: auto;
        padding: 1.5%;
    }
  

    nav .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
    }
     .hero-content .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
     }

     .next-section .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
     }

    .about .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
    }

    .about-grid-item h2{
        width: 100%;
        margin-left: 10px;
        padding: 0% 2%;
    }
    .about-grid-item a .sp{
        margin-left: 30px;
        margin-top: -25px;
    }

   
   
    
    .about-grid-item img{
       margin-left: 10px;
    }
    
    

    .about-grid-item p{
        width: 80%;
        margin-right: 10px;
        padding-left: 28px;
    }


    #process .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
    }

    #exp .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
    }

    #work .container{
        width: 100%;
        margin: auto;
        padding: 0% 2%;
    }

    .work--grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    
}

@media screen and (max-width: 480px){
    
}